<h2>Welcome to X-Objects</h2>
<p>Fantastic!  You just installed an application that includes:</p>
<ul>
    <li><a href="http://getbootstrap.com">Twitter Bootstrap Framework 3.0</a></li>
    <li><a href="http://bootswatch.com/slate/">Bootswatch Slate Template for Bootstrap</a></li>
    <li><a href="http://backbonejs.org">BackboneJS</a>, with <a href="http://handlebarsjs.com">Handlebars</a>,
        <a href="http://underscorejs.org">Underscore</a> and <a href="http://requirejs.org">Require</a></li>
    <li>X-Objects convenience library for jQuery $.xo</li>
    <li>PHP Object-oriented MVC framework</li>
</ul>